<div>
     <table class="table" >
       <thead>
       <tr align="center">
         <th scope="col" align="center">
           <div class="form-group col-md-6">
             <h1 align="center">{{cc.abonnement.msisdn.ntelephone}}</h1>
             <p>N° contrat: {{cc.id}} <br> N° abonnement: {{cc.abonnement.id}}</p>
         </div>
         </th>
         <th>
       <div class="form-row">
         <div class="form-group col-md-6">
           <h3 align="center">
             <p>
               {{cc.facturation.information.appartient.nompersonne}} / {{cc.facturation.information.appartient.prenompersonne}}
             </p>
           </h3>
           <p>NISS - {{cc.facturation.information.appartient.nregistrenational}}</p>
         </div>
       </div>
       </th>
       </tr>
       </thead>
     </table>
</div>
<div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label >Date de signature</label>
      <p>{{cc.datesignature}}</p>
    </div>

    <div class="form-group col-md-3">
      <label >Date de debut du contrat</label>
      <p>{{cc.datedebut}}</p>
    </div>

    <div class="form-group col-md-3">
      <label >Date de fin de contrat</label>
      <p>{{cc.datefin}}</p>
    </div>

    <div class="form-group col-md-3">
      <label >Date d'activation contrat</label>
      <p>{{cc.abonnement.dateactivation}}</p>
    </div>
  </div>
</div>

<div class="container" >
  <h3>
    <label >Information contrat </label>
  </h3>
  <div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <table class="table" >
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Service d'usage</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Crédit d'appelle.</th>
            <td>{{cc.abonnement.serviceusage.creditappelle}}</td>
          </tr>
          <tr>
            <th scope="row">Crédit de data</th>
            <td>{{cc.abonnement.serviceusage.creditdata}}</td>
          </tr>
          <tr>
            <th scope="row">Crédit de SMS</th>
            <td>{{cc.abonnement.serviceusage.creditsms}}</td>
          </tr>
          <tr>
            <th scope="row">Crédit de MMS</th>
            <td>{{cc.abonnement.serviceusage.creditmms}}</td>
          </tr>
          <tr>
            <th scope="row">Crédit d'itinérance</th>
            <td>{{cc.abonnement.serviceusage.credititinerance}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="form-group col-md-4">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Information carte SIM</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Status SIM</th>
            <td>{{cc.abonnement.msisdn.sim.statussim}}</td>
          </tr>
          <tr>
            <th scope="row">Type SIM</th>
            <td>{{cc.abonnement.msisdn.sim.typecarte}}</td>
          </tr>
          <tr>
            <th scope="row">Code PIN</th>
            <td>{{cc.abonnement.msisdn.sim.codepin}}</td>
          </tr>
          <tr>
            <th scope="row">Code PUK</th>
            <td>{{cc.abonnement.msisdn.sim.codepuk}}</td>
          </tr>
          <tr>
            <th scope="row">Code PUK 2</th>
            <td>{{cc.abonnement.msisdn.sim.codepuk2}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="form-group col-md-4">
        <table class="table" >
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Service d'activation</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Trans. contrat</th>
            <td>{{cc.abonnement.serviceactivation.transcontacts}}</td>
          </tr>
          <tr>
            <th scope="row">Trans. crédit</th>
            <td>{{cc.abonnement.serviceactivation.transcredit}}</td>
          </tr>
          <tr>
            <th scope="row">Activation de carte</th>
            <td>{{cc.abonnement.serviceactivation.activationsim}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

