<div class="container" >
  <h3>
    <label >Information client </label>
  </h3>
  <div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <table class="table" >
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Info. bancaire</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">N° Compte Bancaire</th>
            <td>{{cc.facturation.information.compte}}</td>
          </tr>
          <tr>
            <th scope="row">N° Domiciliation</th>
            <td>{{cc.facturation.information.domiciliation}}</td>
          </tr>
          <tr>
            <th scope="row">Status Don.</th>
            <td>{{cc.facturation.information.statusdomiciliation}}</td>
          </tr>
          <tr>
            <th scope="row">Nom banque</th>
            <td>{{cc.facturation.information.banque}}</td>
          </tr>
          <tr>
            <th scope="row">N° Carte crédit</th>
            <td>{{cc.facturation.information.Credit}}</td>
          </tr>
          <tr>
            <th scope="row">Date d'Expiration</th>
            <td> {{cc.facturation.information.expiration}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="form-group col-md-4">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Information Client</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Nom</th>
            <td>{{cc.facturation.information.appartient.nompersonne}}</td>
          </tr>
          <tr>
            <th scope="row">Prénom</th>
            <td>{{cc.facturation.information.appartient.prenompersonne}}</td>
          </tr>
          <tr>
            <th scope="row">Type</th>
            <td>{{cc.facturation.information.appartient.genrepersonne}}</td>
          </tr>
          <tr>
            <th scope="row">DDN</th>
            <td>{{cc.facturation.information.appartient.datenaisspersonne}}</td>
          </tr>
          <tr>
            <th scope="row">N° R. National</th>
            <td>{{cc.facturation.information.appartient.nregistrenational}}</td>
          </tr>
          <tr>
            <th scope="row">Etat civile</th>
            <td>{{cc.facturation.information.appartient.civilitepersonne}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="form-group col-md-4">
        <table class="table" >
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Adresse</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Ville</th>
            <td>{{cc.facturation.information.appartient.adressepersonne.ville}}</td>
          </tr>
          <tr>
            <th scope="row">Rue</th>
            <td>{{cc.facturation.information.appartient.adressepersonne.rue}}</td>
          </tr>
          <tr>
            <th scope="row">N° rue</th>
            <td>{{cc.facturation.information.appartient.adressepersonne.nrue}}</td>
          </tr>
          <tr>
            <th scope="row">Code Postal</th>
            <td>{{cc.facturation.information.appartient.adressepersonne.cpostal}}</td>
          </tr>
          <tr>
            <th scope="row">N° Boite</th>
            <td>{{cc.facturation.information.appartient.adressepersonne.nboitelettre}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
